.btn-small {
    height: 24px;
    width: 160px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task-header {
    margin-top: 5px;
}

a.card-btn {
    color: rgb(0, 0, 0) !important;
}

a {
    color: rgb(255, 255, 255) !important;
}

.navbar {
    height: 70px;
    background-color: green;
}

.logo {
    background: url("/static/css/vegan_day.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 90px;
    margin: 10px;
}