body {
    background-image: linear-gradient(to bottom right, #444444, #161616);
    color: #e4e4e4;
    font-family: 'Roboto', sans-serif;
}

hr { 
  height: 1px;
  width: 95%;
  color: #00eea7;
  background-color: #00eea7;
  border-color: #00eea7;
}

.font-dark {
    color: #2e2e2e;
}

.font-green {
    color: #00eea7;
}

.font-light { 
    font-weight: 100;
}

.font-bold { 
    font-weight: 700;
}

.centertxt {
    text-align: center;
}

h3 {
    font-family: 'Merienda', 'Courier New', Courier, monospace;
}

/*---   navbar -------------------------*/

.nav-btn {
    color: #e4e4e4;
}

.nav-btn:hover {
    color: #00eea7 ;
}

.navbar {
    padding: 5px 20px 5px 20px;
    height: 80px;
    background:  #2e2e2e;
}

.logo {
    background: url("/static/css/vegan_day.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 90px;
    margin: 10px;
}

/*---  intro panel ---------------------*/

h1 {
    font-family: 'Merienda', 'Courier New', Courier, monospace;
    margin: 60px;
}

.intro-panel {
    background-image: url("/static/css/jumbotrone_bg.jpg");
    text-align: center;
    color: #e4e4e4;
    height: 100%;
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top:    1px solid  #00eea7;
    border-right:  0px solid black;
    border-bottom: 3px solid #00eea7;
    border-left:   0px solid  black;
}

/* ----- intro button --------*/

.button_d {
    color: #00eea7  !important;
    text-transform: uppercase;
    padding: 20px;
    border: 2px solid #00eea7 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin: 40px;
}

.button_d:hover {
    color: #e4e4e4  !important;
    border-radius: 50px;
    border-color:  #e4e4e4 !important;
    transition: all 0.3s ease 0s;
}

/* --- how-to panel ----------------------------*/

.how-to {
    text-align: center;
    margin: 120px 20px 120px 50px;
    align-content: center;
}

.how-to-logo {
    background: url("/static/css/vegan_day_green.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 185px;
    width: 320px;
}


/*---  home page accordion ---------------------*/

h2 {
    font-family: 'Merienda', 'Courier New', Courier, monospace;
}

.collapsible-header {
    margin-top: 0px;
    align-content: left;
    height: 100px;
}

.align-right {
    text-align: right;
}

.btn-1 {
    color: #00eea7;
    text-transform: uppercase;
    margin: 5px;
}

.btn-1:hover {
    color: #e4e4e4;
}

/*--- founder quote ------------*/

h4 {
    font-family: 'Merienda';
    text-align: center;
    margin: 20px 0px 10px 0px;
}

.blockquote {
    font-style: italic;
    color: #e4e4e4;
}

.founder {
    margin-bottom: 60px;
    color: #00eea7;
    font-size: 90%;
}

/*----- Add Recipe -------------*/

.upload-text {
    padding: 15px;
    border:  1px solid #00eea7;
    border-radius: 5px;
    font-size: x-small;
}

/*----- full recipe panel --------*/

h5 {
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 700;
}
.full-recipe-panel {
    text-align: center;
    color: #e4e4e4;
    padding: 40px;
    height: 220px;
    border-top:    1px solid  #00eea7;
    border-right:  0px solid black;
    border-bottom: 3px solid #00eea7;
    border-left:   0px solid  black;
}

.full-recipe-subtitle {
    font-family: 'Merienda', cursive;
    text-align: center;
    font-size: small;
}

.full-recipe-description {
    text-align: center;
    margin: 25px 0px;
}

.frame-text {
    padding: 25px;
    border:  1px solid #00eea7;
    border-radius: 5px;
    margin-top: 25px;
    background-image: linear-gradient(to bottom right, #444444, #161616);
}

.more-about{
    margin-top: 25px;
    padding: 25px;
}

/*------- footer ---------------*/

.footer {
    background: url("/static/css/footer_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid  #00eea7;
    margin-top: 45px;
}

.footer-copyright {
    font-size: xx-small;
    background-color:  rgba(0, 0, 0, 0.5) !important;
}


