body {
    background-image: linear-gradient(to bottom right, #2e2e2e, #161616);
    color: #e4e4e4;
}

hr { 
  height: 1px;
  width: 70%;
  color: #00eea7;
  background-color: #00eea7;
  border-color: #00eea7;
}

.font-dark {
    color: #2e2e2e;
}

/*---   navbar -------------------------*/

.navbar {
    height: 70px;
    background:  #2e2e2e;
}

.logo {
    background: url("/static/css/vegan_day.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 90px;
    margin: 10px;
}

/*---  intro panel ---------------------*/


h3.centertxt {
    font-family: 'Merienda', cursive;
    text-align: center;
    margin: 60px;
}

.intro-panel {
    background-image: url("/static/css/jumbotrone_bg.jpg");
    text-align: center;
    color: #e4e4e4;
    height: 100%;
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top:    1px solid  #00eea7;
    border-right:  0px solid black;
    border-bottom: 3px solid #00eea7;
    border-left:   0px solid  black;
}

/* ----- intro button --------*/

.button_d {
    color: #00eea7  !important;
    text-transform: uppercase;
    padding: 20px;
    border: 2px solid #00eea7 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin: 40px;
}

.button_d:hover {
    color: #e4e4e4  !important;
    border-radius: 50px;
    border-color:  #e4e4e4 !important;
    transition: all 0.3s ease 0s;
}

/* --- how-to panel ----------------------------*/

.how-to {
    text-align: center;
    margin: 150px 20px;
    align-content: center;
}

.how-to-logo {
    background: url("/static/css/vegan_day.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;
    width: 215px;
    margin: 150px 20px 150px 150px;
}


/*---  home page accordion ---------------------*/


.collapsible-header {
    margin-top: 5px;
    align-content: left;
}

.btn-small {
    height: 24px;
    width: 160px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

a.card-btn {
    color: rgb(0, 0, 0) !important;
}

/*----- Add Recipe -------------*/

.upload-text {
    padding: 15px;
    border:  1px solid #00eea7;
    border-radius: 5px;
    font-size: x-small;
}

/*------- footer ---------------*/

.footer {
    background: url("/static/css/footer_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid  #00eea7;
}

.footer-copyright {
    font-size: xx-small;
    background-color:  #2e2e2e !important;
}


