{% extends 'base.html' %} {% block content %}

<h3>Add Task </h3>

<div class="row">
	<form action="" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">account_circle</i>
				<input id="recipe_name" name="recipe_name" type="text" class="validate">
				<label for="icon_prefix">Recipe Name</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">phone</i>
				<input id="recipe_description" name="recipe_description" type="textarea" class="validate">
				<label for="icon_telephone">Recipe Description</label>
			</div>
		</div>
	</form>
</div>

{% endblock %}