{% extends 'base.html' %} {% block content %}

<!---------------main title----------------------->
<div class="full-recipe-panel" style="background: url('{{recipe.recipe_image}}');
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;">
</div>
<!--------------recip content--------------------->
<div class="container">
    <div>
        <h2 class="centertxt">{{recipe.recipe_name}}</h2>
        <p class="full-recipe-subtitle">for today's {{recipe.category_name}}</p>
    </div>
    <div class="row">
        <div action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12 full-recipe-description font-light">
        <!--maybe I should delete unnecessary action atribute -->
        {{recipe.recipe_short}}
        </div>
    </div>
    <hr>
    <!--------------recip ingredients----------------------->
    <div class="row">
        <div class="col s12 m5">
            <div class="frame-text font-light">
                <i class="material-icons prefix">kitchen</i> <strong> Shopping list</strong>
                <p>{{recipe.recipe_ingredients}}</p>
            </div>
        </div>
        <div class="more-about col s12 m7">
            <h5 class="font-bold"> More about {{recipe.recipe_name}} </h5>
            <p class="font-light">{{recipe.recipe_description}} </p>
            <p class="font-green">Gluten free:
                {% if recipe.gluten_free %}
                <i class="material-icons">check</i>
                {% else %}
                <i class="material-icons">close</i>
                {% endif %}
            </p>
        </div>
    </div>
    <!--------------recipe method----------------------->
    <div class="row">
        <div class="col s12">
            <h5 class="font-bold"><i class="material-icons prefix">restaurant_menu</i>
            Let's get into it
            </h5>
            <p class="font-light">{{recipe.recipe_method}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 inline-actions align-right">
            <a class="btn-1" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"> 
            <i class="material-icons prefix">edit</i></a>
            <a class="btn-1" href="{{url_for('delete_recipe', recipe_id=recipe._id)}}">
            <i class="material-icons prefix">delete</i></a>
        </div>
    </div>
</div>
{% endblock %}