{% extends 'base.html' %} {% block content %}
<div class="intro-panel">
    <div class="container">
        <h1 class="centertxt">My Vegan Day</h1>
        <div class="centertxt">
            <p>
                This blog is my personal collection of recipes that build my daily vegan diet. I always wanted to turn my day more green, healthy and interesting. It's a great place where I often visit to scroll
                through many ideas which influence my kitchen daily, make your belly
                happy and above all else - save my time and effort. I divided all the meals to three categories: breakfast, lunch and dinner. Like that I can have 3 regular satisfying dishes a day and I don't have to search the internet or look into my cook books. Everything I need is always here.
            </p>
        </div>
        <div class="button_cont">
            <a class="button_d" href="{{url_for('add_recipe')}}"  rel="nofollow noopener">Add recipe</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 l6">
        <div class="about ">
            <p class="font-light">
                Morning hustle doesn't leave me time to search for meal recipes. At work I always need something fresh and full of nutritions. When the day is over I am ready for something satysfying, healthy and new. On top of that I recently become vagan so I need a place where I would store my daily inspirations for vegan meals. These are the reasons why I created my Vegan Day: 
            </p><br>
                <p class="font-bold">
                    <i class="fas fa-apple-alt"></i>   Fresh Breakfast
                    <br>
                    <i class="fas fa-carrot"></i>   Energising Lunch
                    <br>
                    <i class="fas fa-utensils"></i>     Satysfying Dinner
                    <br>
                </p>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="about">
            <div class="about-logo"></div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s12 l4">
        <div>
            <h2 class="centertxt">Breakfast</h2>
        </div>
        <ul class="collapsible popout" data-collapsable="accordion">
        {% for brecipe in brecipes %}
        {% if brecipe.category_name == 'breakfast' %}
            <li>
                <div class="collapsible-header" style="
                                                            background: url('{{brecipe.recipe_image}}');
                                                            background-position: center;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;">
                </div>
                <div class="collapsible-body">
                    <p class="font-bold">{{brecipe.recipe_name}}</p>
                    <hr>
                    <span>
                        {{brecipe.recipe_short}}
                    </span>
                    <div class="inline-actions align-right">
                        <a href="{{url_for('full_recipe', recipe_id=brecipe._id)}}" class="btn-1">more</a>
                    </div>
                </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>


    <div class="col s12 l4">
        <div>
            <h2 class="centertxt">Lunch</h2>
        </div>
        <ul class="collapsible popout" data-collapsable="accordion">
        {% for lrecipe in lrecipes %}
        {% if lrecipe.category_name == 'lunch' %}
            <li>
                <div class="collapsible-header" style="
                                                            background: url('{{lrecipe.recipe_image}}');
                                                            background-position: center;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;">

                </div>
                <div class="collapsible-body">
                    <p class="font-bold">{{lrecipe.recipe_name}}</p>
                    <hr>
                    <span>
                        {{lrecipe.recipe_description}}
                    </span>
                    <div class="inline-actions align-right">
                        <a href="{{url_for('full_recipe', recipe_id=lrecipe._id)}}" class="btn-1">more</a>
                    </div>
                </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>


    <div class="col s12 l4">
        <div>
            <h2 class="centertxt">Dinner</h2>
        </div>
        <ul class="collapsible popout" data-collapsable="accordion">
        {% for drecipe in drecipes %}
        {% if drecipe.category_name == 'dinner' %}
            <li>
                <div class="collapsible-header" style="
                                                            background: url('{{drecipe.recipe_image}}');
                                                            background-position: center;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;">
                </div>
                <div class="collapsible-body">
                    <p class="font-bold">{{drecipe.recipe_name}}</p>
                    <hr>
                    <span>
                        {{drecipe.recipe_description}}
                    </span>
                    <div class="inline-actions align-right">
                        <a href="{{url_for('full_recipe', recipe_id=drecipe._id)}}" class="btn-1">more</a>
                    </div>
                </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>


</div>

{% endblock %}

<!-- </div>

<a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn ">DELETE</a>
                        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn  blue">EDIT</a>










<div class="inline-actions">
            <a
              href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
              class="waves-effect waves-light btn btn-small"
              >DELETE</a
            >
            <a
              href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
              class="waves-effect waves-light btn btn-small blue"
              >EDIT</a
            >
          </div> -->




          <!-- <a href="{{url_for('full_recipe', recipe_id=recipe._id)}}" class="btn-1">more</a> -->
