{% extends 'base.html' %} {% block content %}
<div class="intro-panel">
  <div class="container">
    <h3 class="centertxt">Welcome to your Vegan Day</h3>
    <div class="centertxt">
      <p>
        Our app is a collaboration for everyone who wants to turn his daily menu
        more green, healthy and interesting. For big meat lovers it's a great
        chance to try new, equally satisfying dishes, for vegetarians it's an
        eye-opener for even greener possibilities. It's a great place to scroll
        through many ideas which will influence your kitchen, make your belly
        happy and above all else - save you time and effort. Our goal is to
        connect people who are interested in vegan diet, build the collection of
        recipes and get inspired by others. Join and discover new flavors.
      </p>
    </div>
    <div class="button_cont" align="center"><a class="button_d" href="add-website-here" target="_blank" rel="nofollow noopener">Inspire me</a></div>
  </div>
</div>
<div class="row">
      <div class="col s6 how-to">
        <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda perferendis veritatis quod inventore, quia dolorem totam incidunt nihil aliquid quidem possimus id similique aspernatur nisi. </p>
      </div>
      <div class="col s6">
        <div class="intro-logo"></div>
      </div>
</div>
<hr>
<div class="row">
<div class="col s4">
<ul class="collapsible popout" data-collapsable="accordion">
    {% for recipe in recipes %}
    <li>
      <div class="collapsible-header">
          <i class="material-icons">expand_more</i>
          <div class="inline-actions">
            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
              class="waves-effect waves-light btn btn-small">DELETE</a>
            <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
              class="waves-effect waves-light btn btn-small blue">EDIT</a>
          </div>
        </div>
          <strong>{{recipe.recipe_name}}</strong>
      <div class="collapsible-body">
        <span>
          {{recipe.category_name}} {{recipe.recipe_description}}
          {{recipe.gluten_free}} {{recipe.due_date}}
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="col s4">
<ul class="collapsible popout" data-collapsable="accordion">
    {% for recipe in recipes %}
    <li>
      <div class="collapsible-header">
        <div class="col s1">
          <i class="material-icons">expand_more</i>
        </div>
        <div class="col s2">
          <div class="inline-actions">
            <a
              href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
              class="waves-effect waves-light btn btn-small"
              >DELETE</a
            >
            <a
              href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
              class="waves-effect waves-light btn btn-small blue"
              >EDIT</a
            >
          </div>
        </div>
        <div class="task-header col s9">
          <strong>{{recipe.recipe_name}}</strong>
        </div>
      </div>
      <div class="collapsible-body">
        <span>
          {{recipe.category_name}} {{recipe.recipe_description}}
          {{recipe.gluten_free}} {{recipe.due_date}}
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="col s4">
<ul class="collapsible popout" data-collapsable="accordion">
    {% for recipe in recipes %}
    <li>
      <div class="collapsible-header">
        <div class="col s1">
          <i class="material-icons">expand_more</i>
        </div>
        <div class="col s2">
          <div class="inline-actions">
            <a
              href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
              class="waves-effect waves-light btn btn-small"
              >DELETE</a
            >
            <a
              href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
              class="waves-effect waves-light btn btn-small blue"
              >EDIT</a
            >
          </div>
        </div>
        <div class="task-header col s9">
          <strong>{{recipe.recipe_name}}</strong>
        </div>
      </div>
      <div class="collapsible-body">
        <span>
          {{recipe.category_name}} {{recipe.recipe_description}}
          {{recipe.gluten_free}} {{recipe.due_date}}
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
</div>

  
  

  {% endblock %}
</div>
